<div class="main-content page-m">
  <div>
    <table border="2" class="table table-striped">
      <thead>
        <tr>
          <td>Product Id</td>
          <td>Product Name</td>
          <td>Product Price</td>
          <td>Product Quantity</td>
          <td>Product image_url</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{ product.id }}</td>
          <td>{{ product.productName }}</td>
          <td>{{ product.price }}</td>
          <td>{{ product.quantity }}</td>
          <td>
            <img
              src="{{ product.imageUrl }}"
              class="detail-img"
              style="height: 100px; width: 100px"
            />
          </td>
        </tr>
      </tbody>
    </table>
    <button
      type="button"
      (click)="backDashboard()"
      style="width: 150px; margin-top: 20px"
      class="btn btn-primary"
    >
      Back
    </button>
  </div>
</div>