<div class="main-content page-m">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <h2>Reset Password Page</h2>
            <div *ngIf="successmsg" class="success-message">
                {{successmsg}}
            </div>
            <form [formGroup]="resetFormGroup" (ngSubmit)="onSubmit()">
                
                <div formGroupName="reset" class="form-area" >
                    <div class="row">
                        <div class="col-md-2"><label>New Password:</label></div>
                        <div class="col-md-2">
                            <div class="input-space">
                                <input formControlName="newPwd" type="password">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label>Confirm New Password:</label></div>
                        <div class="col-md-2">
                            <div class="input-space">
                                <input formControlName="confirmNewPwd" type="password">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-info">Reset Password</button>
                </div>
            </form>
        </div>
    </div>
</div>