<div *ngIf="userRole === 'normalUser' || userRole === ''">
    <div class="product-category">
      <ul class="list-unstyled navbar-list">
        <li *ngFor="let category of productCategories">
          <a [routerLink]="['/category', category.id]">
            {{ category.categoryName }}
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div *ngIf="userRole === 'adminUser'">
    <div class="product-category">
      <ul class="list-unstyled navbar-list">
        <li>
          <a [routerLink]="['/adDashBoard']"> Dashboard </a>
        </li>
        <li>
          <a [routerLink]="['/filterOrders']"> Filter Orders </a>
        </li>
      </ul>
    </div>
  </div>