<div class="page-wrapper">
  <!-- MENU SIDEBAR-->
  <aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
      <a href="#">
        <img
          src="assets/images/logo.png"
          alt="ashokit"
          class="img-responsive"
        />
      </a>
    </div>
    <div class="menu-sidebar-content js-scrollbar1">
      <nav class="navbar-sidebar">
        <ul class="list-unstyled navbar-list">
          <app-product-category></app-product-category>
          <!-- <router-outlet></router-outlet> -->
        </ul>
      </nav>
    </div>
  </aside>
  <!-- END MENU SIDEBAR-->
  <div class="page-container">
    <!-- HEADER DESKTOP-->
    <header class="header-desktop">
      <div class="section-content section-content-p30">
        <div class="container-fluid">
          <div class="header-wrap">
            <app-search></app-search>

            <!-- updating the cart icon for dynamic values instead of static -->

            <!-- <div class="cart-area d-n">
                              <a href="shopping-detail.html">
                                  <div class="total">19.22 <span> 2</span> </div> <i class="fa fa-shopping-cart"
                                      aria-hidden="true"></i>
                              </a>
                          </div> -->

            <div class="cart-area">
              <a routerLink="/cart">
                <div class="total">
                  {{ cartTotal | currency }} <span>{{ cartQuantity }}</span>
                </div>
                <i class="fa fa-shopping-cart"></i>
              </a>
            </div>
          </div>
          <div class="account-wrap"></div>
        </div>
      </div>
    </header>
    <!-- END HEADER DESKTOP-->
    <!-- MAIN CONTENT-->
    <router-outlet></router-outlet>
  </div>

  <footer class="bg-black text-white py-3 position-fixed bottom-0 w-100">
    <ul class="list-inline text-center mb-0">
        <li class="list-inline-item"><a href="#" class="text-white text-decoration-none">About Us</a></li>
        <li class="list-inline-item"><a href="#" class="text-white text-decoration-none">Contact Us</a></li>
        <li class="list-inline-item"><a href="#" class="text-white text-decoration-none">Help</a></li>
    </ul>
</footer>

</div>