<div class="main-content page-m">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <h2>Forgot Password Page</h2>
            <div *ngIf="errormsg" class="error-message">
                {{errormsg}}
            </div>
            <div *ngIf="successmsg" class="success-message">
                {{successmsg}}
            </div>
            <form [formGroup]="forgotpwdFormGroup" (ngSubmit)="onSubmit()">
                <!--Forgot password page-->
                <div formGroupName="forgot" class="form-area" >
                    <div class="row">
                        <div class="col-md-2"><label>Email:</label></div>
                        <div class="col-md-2">
                            <div class="input-space">
                                <input formControlName="email" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-info">Send email</button>
                </div>
            </form>
        </div>
    </div>
</div>